body {
  background-color: #8a6565;
}
ul {
  list-style: none;
  padding-left: 0;
}

.centered__content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
}

.tabs__title {
  padding: 20px;
  background-color: #b85d83;
  color: #6fdfcc;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.tabs__title.active {
  background-color: #313050;
  color: #6fdf9a;
}
